@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
main{
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    height: 25px;
    width: 100%;
    background: #c2b803;
}
h1 {
    text-align: center;
    font-weight: 300;
}
#right-section button{
    padding: 10px;
    background: #c2b803;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
#right-section button:hover {
    background: #9f9702;
}